body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    width: 75vh;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 1em;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #8b8787;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}
